<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="ProjectFinal_POS::pos_staff"
             title="Staff"
             module="ProjectFinal_POS"
             sortOrder="30"
             resource="ProjectFinal_POS::pos_staff"/>
        <add
            id="ProjectFinal_POS::staff"
            title="Manage Staffs"
            module="ProjectFinal_POS"
            sortOrder="10"
            parent="ProjectFinal_POS::pos_staff"
            action="staff/staff/index"
            resource="ProjectFinal_POS::staff"/>
    </menu>
</config>
